.footer{
    margin-top: 8vh;
    padding-bottom: 2vh;
}

.footer_bg-color{
    padding-top: 3vh;
    background-color: #f4effa;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
}

.socials{
    display: flex;
    gap: 2vw;
    justify-content: space-evenly;
    place-items: center;
}

.social__img{
    width: 1.5vw;
    height: 3vh;
}

.downloads{
    display: flex;
    justify-content: space-evenly;
    place-items: center;
    gap: 1vw;
}

.download__img{
    width: 6.5vw;
    height: 4vh;
}

.fineprint_font-size{
    font-size: 0.8em;
}

.fineprint_color{
    color: #2f184b;
}